<!DOCTYPE html>
<html>
<head>
  <title>User Profile</title>
</head>
<body>

<h1><%= @user.name %></h1>
<p>Number of Posts: <%= @user.posts_counter %></p>
<!-- Add other user information you want to display -->

<h2>Bio</h2>
<p><%= @user.bio %></p>

<% @posts.order(:id).each_with_index do |post, index| %>
  <div class="post">
    <h3>Post #<%= index + 1 %></h3>
    <p><%= post.text %></p>
    <p>Comments: <%= post.comments_counter %>, Likes: <%= post.likes_counter %></p>
  </div>
<% end %>

<button>See all posts</button>
</body>
</html>
