<!DOCTYPE html>
<html>
<head>
  <title>Routes List</title>
</head>
<body>

<h1><%= @user.name %></h1>
<p>Number of Posts: <%= @user.posts_counter %></p>
<!-- Add other user information you want to display -->

   <h2>Bio</h2>
   <p>Lorem..............</p>
<h1><%= @user.name %></h1>
<p>Number of Posts: <%= @user.posts_counter %></p>

<h2>Posts</h2>
<ul>
  <% @posts.each do |post| %>
    <li>
      <h3><%= post.title %></h3>
      <p><%= post.text %></p>
    </li>
  <% end %>
</ul>


   <button> See all posts</button>
</body>
</html>