<!DOCTYPE html>
<html>
<head>
  <title>User Profile</title>
</head>
<body>

<h1><%= @user.name %></h1>
<p>Number of Posts: <%= @user.posts_counter %></p>
<!-- Add other user information you want to display -->

<h2>Bio</h2>
<p><%= @user.bio %></p>

<% @posts.order(:id).each_with_index do |post, index| %>
  <div class="post">
    <%= link_to user_post_path(@user, post) do %>
      <h3>Post #<%= index + 1 %></h3>
      <p><%= post.text %></p>
      <p>Comments: <%= post.comments_counter %>, Likes: <%= post.likes_counter %></p>
    <% end %>
  </div>
<% end %>

<%= link_to user_posts_path(@user) do %>
  <button>See all posts</button>
<% end %>

</body>
</html>
