<!DOCTYPE html>
<html>
<head>
  <title>User Profile</title>
</head>
<body>

<div class="profile">
    <img class="image" src="<%= @user.photo %>" alt="User Photo">
    <h2><%= @user.name %></h2>
    <h6>Number of posts <%= @user.posts_counter %></h6>
</div>

<h2>Bio</h2>
<p><%= @user.bio %></p>

<% @posts.order(:id).each_with_index do |post, index| %>
  <div class="post"> <!-- Add the "post" class here -->
    <%= link_to user_post_path(@user, post) do %>
      <h3>Post #<%= index + 1 %></h3>
      <p><%= post.title %></p>
      <p><%= post.text %></p>
      <p>Comments: <%= post.comments_counter %>, Likes: <%= post.likes_counter %></p>
    <% end %>
  </div>
<% end %>

<%= link_to user_posts_path(@user) do %>
  <button>See all posts</button>
<% end %>

</body>
</html>
