<!DOCTYPE html>
<html>
<head>
  <title>Post Profile</title>
</head>
<body>

<div class = "profile">
    <img class = "image" src="<%= @user.photo %>" alt="User Photo">
     <h2><%= @user.name %></h2>
    <h6>Number of posts <%= @user.posts_counter %></h6>
</div>


<h2>Bio</h2>
<p><%= @user.bio %></p>

<% @posts.order(:id).each_with_index do |post, index| %>
  <div class="post">
    <%= link_to user_post_path(@user, post) do %>
      <h2>Post #<%= index + 1 %></h2>
    <% end %>
    <p><%= post.text %></p>
    
    

    <% post.comments.each do |comment| %>
      <p><strong><%= comment.user.name %>:</strong> <%= comment.text %></p>
    <% end %>
    <p>Comments: <%= post.comments_counter %></p>
    <p>Likes: <%= post.likes_counter %></p>
  </div>
<% end %>


<button>Pagination</button>
</body>
</html>
