<!DOCTYPE html>
<html>
<head>
  <title>Post Details</title>
</head>
<body>

<div class="post">
  <h2>Post #<%= @post.id %> by <%= @post.author.name %></h2>
  <p><%= @post.text %></p>
  <p>Likes: <%= @likes_count %></p>
  <p>Comments: <%=@post.comments_counter %></p>
</div>

<h2>Comments</h2>

<% @comments.each do |comment| %>
  <div class="comment">
    <p><strong><%= comment.user.name %>:</strong> <%= comment.text %></p>
  </div>
<% end %>

</body>
</html>
