<!DOCTYPE html>
<html>
<head>
  <title>Post Details</title>
</head>
<body>

<div class="post">
  <h2>Post #<%= @post.id %> by <%= @post.author.name %></h2>
  <p><%= @post.title %></p>
  <p><%= @post.text %></p>
  <p>Likes: <%= @likes_count %></p>
  <p>Comments: <%=@post.comments_counter %></p>
</div>
<%= form_with(model: [@user, @post, Like.new], url: user_post_likes_path(@user, @post), method: :post) do |like_form| %>
  <div>
    <%= like_form.submit "Like" %>
  </div>
<% end %>

<h2>Comments</h2>

<% @comments.each do |comment| %>
  <div class="comment">
    <p><strong><%= comment.user.name %>:</strong> <%= comment.text %></p>
  </div>
<% end %>

<%= form_with(model: [@user, @post, Comment.new], url: user_post_comments_path(@user, @post), method: :post) do |comment_form| %>
  <div>
    <%= comment_form.label :text, 'Add a Comment' %>
    <%= comment_form.text_area :text %>
  </div>

  <div>
    <%= comment_form.submit "Add Comment" %>
  </div>
<% end %>



</body>
</html>
